<template>
<div>
    {{ counter }} &#12288; <button v-on:click="counter += 1">Count</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            counter:0
        }
    },
}
</script>

<style scoped>
button{
    background:#ddd;
    padding: 5px 10px;
    border:1px solid #000;
}
</style>
