<template>
<div>
    <div>{{returntext}}</div>
</div>
</template>

<script>
export default {
    data() {
        return {
            message: "This Is Note"
        }
    },
   computed: {
       returntext(){
           return this.message.split('')
       }
   },
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
</style>
