<template>
<div class="event-handling">
    <p class="small_title">not use @click.stop</p>
    <div @click="click1">
        <button @click="click2">CLick</button>
    </div>
    <p class="small_title">@click.stop</p>
    <div @click="click1">
        <button @click.stop="click2">CLick</button>
    </div>
    <p class="small_title">Prioritize Event</p>
    <div @click.capture="click1">
        <button @click="click2">CLick</button>
    </div>
    <p class="small_title">not use @click.prevent</p>
    <form>
        <button type="submit">Submit</button>
    </form>
    <p class="small_title">@click.prevent</p>
    <form @submit.prevent="success">
        <button type="submit">Submit</button>
    </form>
    <p class="small_title">@click.prevent 1 time only</p>
    <button type="submit" @click.once="success">Submit</button>
    <p class="small_title">@keyup event (enter, up, down, space, delete, mouse left)</p>
    <input @keyup="keyup" @keydown="keydown" @keyup.space="space" @keyup.enter="enter" @keyup.delete="kdelete" @click.left="mouseleft">
    <p>{{keyeven}}</p>
    <p></p>
</div>
</template>

<script>
export default {
    data() {
        return {
            keyeven: ""
        }
    },
    methods: {
        click1() {
            alert('Click 1')
        },
        click2() {
            alert('Click 2')
        },
        success() {
            alert("successfully ");
        },
        keydown() {
            this.keyeven = "Typing"
        },
        keyup() {
            this.keyeven = ""
        },
        space() {
            this.keyeven = "SPACE"
        },
        enter() {
            this.keyeven = "ENTER"
        },
        kdelete() {
            this.keyeven = "DELETE"
        },
        mouseleft() {
            this.keyeven = "Mouse Left"
        }
    }
}
</script>

<style lang="scss" scoped>
.event-handling {
    margin: 0 50px;
}

button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
}

.small_title {
    background: #eaeaea;
    margin: 20px 0;
    padding: 5px;
}

input {
    border: 1px solid #000;
    padding: 5px;
    text-indent: 5px;
    width: 300px;
}

p {
    min-height: 25px
}
</style>
