<template>
<div class="user-detail">
    <div v-if="Object.keys(info).length !== 0">
        <div>
            Name: {{ info.name.title }} - {{ info.name.last }} {{ info.name.first }}
        </div>
        <div>
            Birthday: {{ info.dob }}
        </div>
        <div>
            Email: {{ info.email }}
        </div>
        <div>
            Gender: {{ info.gender }}
        </div>
        <div>
            Address: {{ info.location.street }} - {{ info.location.city }} - {{ info.location.state }}
        </div>
         <div v-if="info.nickname">
            Password: {{ info.nickname }}
        </div>
        <br>
        <div>
            <button @click="CreatePassword">Create Password</button>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        info: {
            type: Object
        }
    },
    methods: {
        CreatePassword() {
            this.info.nickname = Math.random().toString(36).substring(7);
            this.$forceUpdate()
        }
    }
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
}
</style>
