<template>
<div class="form-input-binding">
    <div>
        <input type="text" v-model.lazy="message" name="" placeholder="input text">
        <p>{{ message }}</p>
    </div>
    <div>
        <input type="number" v-model.lazy="number" name="" placeholder="input number">
        <p>{{ number }}</p>
    </div>
    <div>
        <label for="checkbox1"><input id="checkbox1" type="checkbox" v-model="checkbox">Check</label>
        <p>{{ checkbox }}</p>
    </div>
    <div>
        <label for="radio1"><input id="radio1" type="radio" v-model="radio" value="one">ONE</label>
        <label for="radio2"><input id="radio2" type="radio" v-model="radio" value="two">TWO</label>
        <label for="radio3"><input id="radio3" type="radio" v-model="radio" value="three">THREE</label>
        <p>{{ radio }}</p>
    </div>
    <div>
        <select v-model="select">
            <option disabled="">Choose one</option>
            <option value="green">GREEN</option>
            <option value="red">RED</option>
            <option value="purple">PURPLE</option>
            <option value="yellow">YELLOW</option>
        </select>
        <p>{{ select }}</p>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            message: "",
            number: "",
            checkbox: "",
            radio: "",
            select: ""
        }
    }
}
</script>

<style lang="scss" scoped>
input[type=text],
input[type=number] {
    border: 1px solid #000;
    padding: 5px;
    text-indent: 5px;
    width: 300px;
}

select {
    border: 1px solid #000;
    width: 150px;
}

label {
    margin-right: 10px;
}

.form-input-binding {
    text-align: left;

    div {
        margin-bottom: 10px;
    }
}

p {
    min-height: 25px
}
</style>
