<template>
<div>
    <p>Username: {{username}}</p>
    <input v-model="username" placeholder="Please enter username">
    <p>Tel: {{tel}}</p>
    <input v-model="tel" placeholder="Please enter tel">
    <p>Email: {{mail}}</p>
    <input v-model="mail" placeholder="Please enter email">
  
</div>
</template>

<script>
export default {
    data() {
        return {
            username: null,
            tel: null,
            mail: null
        }
    },
}
</script>

<style scoped>
input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
}
</style>
