<template>
<div class="list-user">
    <table class="tbl-list-user">
        <thead>
            <th>Name</th>
            <th>Detail</th>
        </thead>
        <tbody>
            <tr v-for="(user, index) in userData" :key="index">
                <td>{{ user.name.title }} - {{ user.name.last }} {{ user.name.first }}</td>
                <td><button @click="selectUser(user)">Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
import data from './data.json'
export default {
    data() {
        return {
            userData: data
        }
    },
    methods: {
        selectUser(user) {
            this.$emit('userClick', user)
        }
    }
}
</script>

<style scoped>
th,
td {
    border: 1px solid #000;
    padding: 10px;
}
td:first-child{
    width:300px;
}
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
</style>
