<template>
 <div class="user-detail">
        <div class="user-detail-container" v-if="Object.keys(info).length !== 0">
            <div class="user-name">
                Name: {{ info.name.title }} - {{ info.name.last }} {{ info.name.first }}
            </div>
             <div class="user-dob">
                Birthday: {{ info.dob }}
            </div>
            <div class="user-email">
                Email: {{ info.email }}
            </div>
            <div class="user-gender">
                Gender: {{ info.gender }}
            </div>
            <div class="user-address">
                Address: {{ info.location.street }} - {{ info.location.city }} - {{ info.location.state }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        info: {
            type: Object
        }
    },
}
</script>

<style scoped>

</style>
