<template>
<div>
    <div>{{message}}</div>
    <br>
    <button v-on:click="say('Hello')">Say Hello</button>
    <button v-on:click="say('HI')">Say Hi</button>
    <button v-on:click="say2">Other</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            message: "..."
        }
    },
    methods: {
        say: function (txt) {
            this.message = txt;
        },
        say2: function(){
            this.message = "How Are You";
        }
    },
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
</style>
