<template>
<div>
    <div>{{message}}</div>
</div>
</template>

<script>
export default {
    data() {
        return {
            message: "0"
        };
    },
    methods: {
        handleScroll() {
            this.message = $(window).scrollTop() + "km"
        }
    },
    beforeMount() {
        window.addEventListener('scroll', this.handleScroll);
    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll);
    }
}
</script>

<style scoped>

</style>
