<template>
<div class="list-rendering">
    <ul>
        <li v-for="(item, index) in foods" :key="index">{{ index }} - {{ item.name }} </li>
    </ul>
    <br>
    <ul>
        <li v-for="(item, key, index) in myInfo" :key="index">{{ index }} - {{ key }} : {{ item }}</li>
    </ul>
    <br>
    <div>
        <span v-for="(n, index) in 100" :key="index">{{ n }} </span>
    </div>
    <br>
    <ul>
        <li v-for="(todo, index) in listCompleteTodo" :key="index">
            {{ todo.name }} - {{ todo.isComplete }}
        </li>
    </ul>
</div>
</template>

<script>
export default {
    data() {
        return {
            foods: [{
                    name: 'Hamburger'
                },
                {
                    name: 'Sandwich'
                },
                {
                    name: 'Chicken chop'
                }
            ],
            myInfo: {
                name: 'Nguyen Duc Dinh Duy',
                age: '25',
                country: 'vietnam'
            },
            todos: [{
                    name: 'to do 1',
                    isComplete: true
                },
                {
                    name: 'to do 2',
                    isComplete: false
                },
                {
                    name: 'to do 3',
                    isComplete: true
                },
                {
                    name: 'to do 4',
                    isComplete: false
                },
                {
                    name: 'to do 5',
                    isComplete: true
                }
            ]
        }
    },
    computed: {
        listCompleteTodo() {
            return this.todos.filter(item => item.isComplete)
        }
    }
}
</script>

<style lang="scss" scoped>
ul {
    margin-left: 20px;
}
</style>
