<template>
<div class="conditional-rendering">
    <div class="block-1" v-if="isActive == false">
        This is block 1
    </div>
    <div class="block-2" v-if="isActive == true">
        This is block 2
    </div>
    <br>
    <div>
        <button @click="toggleActive">Button</button>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            isActive: true
        }
    },
    methods: {
        toggleActive() {
            if (this.isActive == true) {
                this.isActive = false
            } else {
                this.isActive = true
            }
        }
    }
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
</style>
