<template>
<div>
    <div>Message type: {{ message.type }}</div>
    <br>
    <div>Message text: {{ message.text }}</div>
    <br>
    <div><button @click="changeType">Change type</button></div>
    <br>
    <div><button @click="changeText">Change text</button></div>
</div>
</template>

<script>
export default {
    data() {
        return {
            message: {
                type: 'greeting',
                text: 'How are you?'
            }
        }
    },
    methods: {
        changeType() {
            this.message.type = 'this is new type'
        },
        changeText() {
            this.message.text = 'this is new text'
        }
    },
    computed: {
        getType() {
            return this.message.type
        },
        getText() {
            return this.message.text
        }
    },
    watch: {
        getType() {
            console.log('type changed')
        },
        getText() {
            console.log('text changed')
        }
    }
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
</style>
