/*------------------------------------------------------------
	default
------------------------------------------------------------*/
html {
	overflow-y: auto;
}
body {
	min-width: 320px;
	line-height: $line_height;
	font-size: $font_size_pc;
	font-family: $font_family;
	color: $font_color;
	font-weight: 500;
	font-feature-settings: "palt";
}

a {
	text-decoration: none;
	text-decoration: none;
	color: $font_color;
	&:hover {
		text-decoration: underline;
	}
}