//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
		"ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================
/*
@mixin tablet {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}
*/
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}


//============================================
// :before,:after アイコン用疑似要素の位置　
//============================================
@mixin icon_position {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	content: '';
}