@charset "UTF-8";
/*------------------------------------------------------------
	-- 汎用クラス --
------------------------------------------------------------*/
//------------------------------------------------------------
// 【概要】
// 汎用クラスを定義する場合、このファイルに記入する
//
// 【定義ルール】
// ・「!important」はレイアウト崩れの原因となるため使用しない
// ・命名規則は「(プロパティ名)_(値)(_{etc})」とする
//  ├ (プロパティ名) ・・・ プロパティ名は略語(Emmetの略語に順守する)で指定する
//  ├ (値)  　　   ・・・ 数値の指定の場合、単位は指定しない。数値以外は略語は使用しない
//  └ (_{etc})   ・・・ さらに区分けする場合は任意で入力する
// ・2つ以上のcssをあてる汎用クラスの場合、単語の間を「_」で区切り、目的がわかるclass名にする
//
// 【使用ルール】
//  ・主に共通で使用するclassに使用する
//  ・1つの要素に対して、最大2つまで使用してよい
// ------------------------------------------------------------

#l-container {

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* フォントの太さ */
.u-fw--normal { font-weight: 400; }
.u-fw--bold   { font-weight: bold; }

/* フォントのスタイル */
.u-fs--normal  { font-style: normal; }
.u-fs--italic  { font-style: italic; }
.u-fs--oblique { font-style: oblique; }

/* フォントサイズ */
@for $i from 1 through 30 {
	.u-fs--#{$i} { font-size:#{$i * 0.1}rem; }
}

/* text-align */
.u-ta--left   { text-align: left; }
.u-ta--center { text-align: center; }
.u-ta--right  { text-align: right; }

/* indent */
.u-ti--1 { text-indent: 1rem; }


/* line-height */
.u-lh--1 { line-height: 1; }
.u-lh--13 { line-height: 1.3; }


/*------------------------------------------------------------
	背景
------------------------------------------------------------*/
/* 背景色 */

/*------------------------------------------------------------
	幅用クラス
------------------------------------------------------------*/
/* margin */
@for $i from 0 through 12 {
.u-m--#{$i * 5} { margin:#{$i * 5}px; }
}
.u-m--auto { margin: 0 auto; }

@for $i from 0 through 12 {
.u-mt--#{$i * 5} { margin-top:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-mb--#{$i * 5} { margin-bottom:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-ml--#{$i * 5} { margin-left:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-mr--#{$i * 5} { margin-right:#{$i * 5}px; }
}

/* padding */
@for $i from 0 through 12 {
.u-p--#{$i * 5} { padding:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-pt--#{$i * 5} { padding-top:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-pb--#{$i * 5} { padding-bottom:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-pl--#{$i * 5} { padding-left:#{$i * 5}px; }
}
@for $i from 0 through 12 {
.u-pr--#{$i * 5} { padding-right:#{$i * 5}px; }
}

/* table */
.u-tbl--fixed {
	table-layout: fixed;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
/* vertical-align */
.u-va--top    { vertical-align: top;}
.u-va--middle { vertical-align: middle;}
.u-va--bottom { vertical-align: bottom;}


/* float */
.u-fl--left { float: left; }
.u-fl--right { float: right; }
.u-fl--none { float: none; }
.u-fl--clear { clear: both; }

/* overflow */
.u-of--hidden { overflow: hidden; }

/* display */
.u-dis--ib { display: inline-block; }

/* position */
.u-ps--relative { position: relative; }

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.u-track__tag { display: none; }


} /* #container*/



