/* -----------------------------------------------
	サイト幅設定用定義
-------------------------------------------------- */
//width
$min_width1  :1000px;

// Breakpoint
$breakpoint1: 767px;

/* -----------------------------------------------
	サイト標準フォント指定
-------------------------------------------------- */
$font_size_pc: 1.4rem;
$font_size_sp: 1.2rem;

$font_color  : #14283C;
$font_family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$line_height : 1.7;

/* -----------------------------------------------
	カラーの定義 必要に応じて調整すること
-------------------------------------------------- */

/* black */
$black1: #333;

/* white */
$white1: #fff;

/* glay */
$glay1: #ddd;

/* blue */
$blue1: #0495c5;

/* green */
$green1: #4FB96F;

/* red */
$red1: #F15A5B;

/* purple */
$purple1: #8E40A2;

/* orange */
$orange1: #F0701F;

/* yellow */
$yellow1: #F8F8EE;

/* -----------------------------------------------
	z-index
-------------------------------------------------- */
$z-index_level00: 0;
$z-index_level01: 1;
$z-index_level02: 10;
$z-index_level03: 20;
$z-index_level04: 30;
$z-index_level05: 40;
$z-index_level06: 50;
$z-index_level07: 60;
$z-index_level08: 70;
$z-index_level09: 80;
$z-index_level10: 9999;