<template>
<div>
    <div v-for="(faq, index) in faqData" :key="index">
        <p class="c-accordion__tit">{{ faq.q }}</p>
        <div class="c-accordion__text">{{ faq.a }}</div>
    </div>
</div>
</template>

<script>
import data from './accordion.json'

export default {
    data() {
        return {
            faqData: data
        }
    },
    mounted() {
        $(".c-accordion__tit").click(function (event) {
            $(".c-accordion__text").slideUp();
            if ($(this).hasClass("opened")) {
                $(this)
                    .next(".c-accordion__text")
                    .slideUp()
                    .removeClass("opened");
                $(".c-accordion__tit").removeClass("opened");
            } else {
                $(".c-accordion__tit").removeClass("opened");
                $(".c-accordion__text").removeClass("opened");
                $(this)
                    .next(".c-accordion__text")
                    .slideDown()
                    .addClass("opened");

                $(this).addClass("opened");
            }
        });
    },
}
</script>

<style lang="scss" scoped>
.c-accordion {
    &__tit {
        background: #000;
        color: #fff;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            transition: .3s;
        }

        &.opened {
            &:before {
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }

    &__text {
        padding: 10px;
        display: none;
        border:1px solid #000;
        background: #ddd;
    }
}
</style>
