<template>
<div class="c-car">
    <div class="c-car__item">
        <input v-model="keyword" placeholder="Search title , category , key" type="text" />
        <transition-group class="c-filters__projects" name="c-filters">
            <div class="c-filters__box" v-bind:key="project.title" v-for="project in items">
                <img class="c-filters__img" v-bind:src="project.image">
                <div class="c-filters__text">Name : {{project.title}}
                    <br>Category : {{project.category}}
                    <br>Price : ${{project.Price}}
                    <br><button @click="addcart(project)">Buy</button>
                </div>

            </div>
        </transition-group>
    </div>
    <p class="c-car__none" v-if="!cart.length">No Product In Cart</p>
    <p class="c-car__none" v-if="cart.length">My Cart</p>
    <div class="c-car__car" v-if="cart.length">
        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            <tr v-for="(item, index) in cart" :key="index">
                <td><img v-bind:src="item.image"></td>
                <td>{{item.title}}</td>
                <td>${{item.Price}}</td>
                <td><button class="tru" @click="tru(item,index)">-</button>{{item.quantity}}<button class="cong" @click="cong(item,index)">+</button></td>
                <td>${{item.total}}</td>
                <td><button @click="clear(index)">Delete</button></td>
            </tr>
        </table>
        <p class="c-car__sum">SUM : <span>${{all}}</span></p>
        <button class="c-car__clearall" @click="clearall(index)">Delete All</button>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            keyword: '',
            cart: [],
            all: 0,
            dataArray: [{
                    id: "1",
                    title: "Laptop 4",
                    image: "https://picsum.photos/400/400",
                    category: 'laptop',
                    Price: "11"
                },
                {
                    id: "2",
                    title: "Deer",
                    image: "https://picsum.photos/500/500",
                    category: 'animal',
                    Price: "102"
                },
                {
                    id: "3",
                    title: "Car 1",
                    image: "https://picsum.photos/600/600",
                    category: 'car',
                    Price: "303"
                },
                {
                    id: "4",
                    title: "Eagle",
                    image: "https://picsum.photos/700/700",
                    category: 'animal',
                    Price: "564"
                },
                {
                    id: "5",
                    title: "Car 2",
                    image: "https://picsum.photos/800/800",
                    category: 'car',
                    Price: "1245"
                }

            ]
        }
    },
    computed: {
        items() {
            let keyword = this.keyword.toLowerCase().trim()
            return this.keyword ?
                this.dataArray.filter(item => item.title.toLowerCase().includes(keyword) || item.category.toLowerCase().includes(keyword) || item.Price.toLowerCase().includes(keyword)) :
                this.dataArray
        }
    },
    methods: {
        addcart(item) {
            var flag = true
            this.cart.forEach(element => {
                if (element.id == item.id) {
                    element.quantity += 1;
                    element.total = element.quantity * element.Price;
                    this.$forceUpdate()
                    flag = false;
                }
            });
            if (flag == true) {
                this.cart.push(item);
                this.cart.forEach(element => {
                    if (element.id == item.id) {
                        element.quantity = 1;
                        element.total = element.Price;
                        this.$forceUpdate()
                    }
                });
            }
        },
        clear(item) {
            this.cart.splice(item, 1)
        },
        cong(item) {
            item.quantity += 1;
            item.total = item.quantity * item.Price;
            this.$forceUpdate()
        },
        tru(item, index) {
            if (item.quantity == 1) {
                this.cart.splice(index, 1)
            } else {
                item.quantity -= 1;
                item.total = item.quantity * item.Price;
                this.$forceUpdate()
            }
        },
        clearall() {
            this.cart = []
        }
    },
    updated() {
        var all = 0;
        this.cart.forEach(element => {
            all = Number(all) + Number(element.total);
            console.log(all);
            console.log("--------------");
        });
        this.all = all;
    },
}
</script>

<style lang="scss" scoped>
input {
    width: 500px;
    display: block;
    margin: 0 auto;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #000;
}

.c-filters {
    &__menu {
        text-align: center;

        span {
            background: #ddd;
            padding: 5px 10px;
            border: 1px solid #000;
            cursor: pointer;

            &:hover {
                background: #fff;
            }

            &.active {
                background: #fff;
            }
        }
    }

    &__projects {
        margin-bottom: 50px;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-enter {
        transform: scale(0.5) translatey(-80px);
        opacity: 0;
    }

    &-leave-to {
        transform: translatey(30px);
        opacity: 0;
    }

    &-leave-active {
        position: absolute;
        z-index: -1;
    }

    &__text {
        padding: 10px 20px;
        position: relative;
        z-index: 1;
        background: #fff;
        text-align: left;
    }

    &__box {
        transition: all .3s ease-in-out;
        margin: 10px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        width: 180px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        &:hover {
            img {
                transform: scale(1.4) rotate(20deg);
            }
        }
    }

    &__img {
        width: 100%;
        height: 180px;
        transition: .5s;
    }

}

button {
    background: #333;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    color: #fff;
}

.c-car {

    &__car {

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid #333;
                padding:10px;
            }

            td {
                width: 16.6666667%;
                vertical-align: middle;
                text-align: center;
            }

            img {
                width:50px;
            }
            button{
                width: 50px;
                width: auto;
            }
        }
    }

    &__none {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
    }

    &__clearall {
        margin-top: 10px;
    }

    &__sum {
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        margin-top: 15px;
        color:red;
        span{
            font-size: 18px;
        }
    }

    .tru,
    .cong {
        width: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0;
        margin: 0 15px;
    }
}
</style>
