<template>
<div class="c-filters">
    <div class="c-filters__menu">
        <span v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
        <span v-bind:class="{ active: currentFilter === 'animal' }" v-on:click="setFilter('animal')">ANIMAL</span>
        <span v-bind:class="{ active: currentFilter === 'car' }" v-on:click="setFilter('car')">CAR</span>
        <span v-bind:class="{ active: currentFilter === 'laptop' }" v-on:click="setFilter('laptop')">LAPTOP</span>
        <span v-bind:class="{ active: currentFilter === 'flower' }" v-on:click="setFilter('flower')">FLOWER</span>
    </div>
    <transition-group class="c-filters__projects" name="c-filters">
        <div class="c-filters__box" v-bind:key="project.title" v-for="project in projects" v-if="currentFilter === project.category || currentFilter === 'ALL'">
            <img class="c-filters__img" v-bind:src="project.image">
            <div class="c-filters__text">{{project.title}}</div>
        </div>
    </transition-group>
</div>
</template>

<script>
export default {
    data() {
        return {
            currentFilter: 'ALL',
            projects: [{
                    title: "Laptop 4",
                    image: "https://picsum.photos/id/1/400/400",
                    category: 'laptop'
                },
                {
                    title: "Deer",
                    image: "https://picsum.photos/id/1003/400/400",
                    category: 'animal'
                },
                {
                    title: "Car 1",
                    image: "https://picsum.photos/id/376/400/400",
                    category: 'car'
                },
                {
                    title: "Eagle",
                    image: "https://picsum.photos/id/1024/400/400",
                    category: 'animal'
                },
                {
                    title: "Car 2",
                    image: "https://picsum.photos/id/111/400/400",
                    category: 'car'
                },
                {
                    title: "Dog",
                    image: "https://picsum.photos/id/1062/400/400",
                    category: 'animal'
                },
                {
                    title: "Car 3",
                    image: "https://picsum.photos/id/183/400/400",
                    category: 'car'
                },
                {
                    title: "Laptop 1",
                    image: "https://picsum.photos/id/180/400/400",
                    category: 'laptop'
                },
                {
                    title: "Tiger",
                    image: "https://picsum.photos/id/1074/400/400",
                    category: 'animal'
                },
                {
                    title: "Seal",
                    image: "https://picsum.photos/id/1084/400/400",
                    category: 'animal'
                },
                {
                    title: "Laptop 2",
                    image: "https://picsum.photos/id/2/400/400",
                    category: 'laptop'
                },
                {
                    title: "Flower 2",
                    image: "https://picsum.photos/id/360/400/400",
                    category: 'flower'
                },
                {
                    title: "Car 4",
                    image: "https://picsum.photos/id/1072/400/400",
                    category: 'car'
                },
                {
                    title: "Laptop 5",
                    image: "https://picsum.photos/id/0/400/400",
                    category: 'laptop'
                },
                {
                    title: "Car 5",
                    image: "https://picsum.photos/id/133/400/400",
                    category: 'car'
                },
                {
                    title: "Laptop 3",
                    image: "https://picsum.photos/id/119/400/400",
                    category: 'laptop'
                },
                {
                    title: "Buffalo",
                    image: "https://picsum.photos/id/200/400/400",
                    category: 'animal'
                },
                {
                    title: "Flower 1",
                    image: "https://picsum.photos/id/306/400/400",
                    category: 'flower'
                },
                {
                    title: "Bear",
                    image: "https://picsum.photos/id/433/400/400",
                    category: 'animal'
                },
                {
                    title: "Fox",
                    image: "https://picsum.photos/id/582/400/400",
                    category: 'animal'
                }

                
            ]
        }
    },
    methods: {
        setFilter: function (filter) {
            this.currentFilter = filter;
        }
    }
}
</script>

<style lang="scss" scoped>
.c-filters {
    &__menu {
        text-align: center;

        span {
            background: #ddd;
            padding: 5px 10px;
            border: 1px solid #000;
            cursor: pointer;

            &:hover {
                background: #fff;
            }

            &.active {
                background: #fff;
            }
        }
    }

    &__projects {
        margin-bottom: 50px;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-enter {
        transform: scale(0.5) translatey(-80px);
        opacity: 0;
    }

    &-leave-to {
        transform: translatey(30px);
        opacity: 0;
    }

    &-leave-active {
        position: absolute;
        z-index: -1;
    }

    &__text {
        padding: 10px;
        position: relative;
        z-index: 1;
        background: #fff;
    }

    &__box {
        transition: all .3s ease-in-out;
        margin: 10px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        width: 230px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        &:hover{
            img{
                transform: scale(1.4) rotate(20deg);
            }
        }
    }

    &__img {
        width: 100%;
        height: 230px;
        transition: .5s;
    }
}
</style>
