<template>
<div>
    <div>
        <label>
            <p>Enter Address</p>
            <gmap-autocomplete @place_changed="setPlace" @keyup.enter="addMarker"></gmap-autocomplete>
            <button @click="addMarker">Search</button>
        </label>
    </div>
    <br>
    <gmap-map :center="center" :zoom="16" style="width:100%;  height: 400px;">
        <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" @click="center=m.position"></gmap-marker>
    </gmap-map>
</div>
</template>

<script>
export default {
    data() {
        return {
            center: {
                lat: 45.508,
                lng: -73.587
            },
            markers: [],
            places: [],
            currentPlace: null
        };
    },

    mounted() {
        this.geolocate();
    },

    methods: {
        setPlace(place) {
            this.currentPlace = place;
        },
        addMarker() {
            if (this.currentPlace) {
                const marker = {
                    lat: this.currentPlace.geometry.location.lat(),
                    lng: this.currentPlace.geometry.location.lng()
                };
                this.markers.push({
                    position: marker
                });
                this.places.push(this.currentPlace);
                this.center = marker;
                this.currentPlace = null;
            }
        },
        geolocate: function () {
            navigator.geolocation.getCurrentPosition(position => {
                this.center = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
            });
        }
    }
};
</script>
<style scoped>
button{
    background:#ddd;
    padding: 5px 10px;
    border:1px solid #000;
}
input{
    border:1px solid #000;
    height: 34px;
    text-indent: 5px;
    width: 300px;
}
</style>
