<template>
<div class="c-user">
    <div class="c-user__list">
        <div v-for="(color, index) in Listcolor" :key="index">
            <p>
                {{ color.name }}
                <button @click="selectColor(color)">Detail</button>
            </p>
        </div>
    </div>
    <div class="c-user__detail">
        <p v-if="detail.name">Name : {{detail.name}}</p>
        <p v-if="detail.category">Category : {{detail.category}}</p>
        <p v-if="detail.type">Type : {{detail.type}}</p>
        <p v-if="detail.hex">Hex : {{detail.hex}}</p>
        <p v-if="detail.rgba">rgba : {{detail.rgba}}</p>
        <p v-if="detail.hue_bias">Hue Bias : {{detail.hue_bias}}</p>
        <p v-if="detail.chroma">Chroma : {{detail.chroma}}</p>
        <p v-if="detail.opacity">Opacity : {{detail.opacity}}</p>
        <p v-if="detail.pigment">Pigment : {{detail.pigment}}</p>
        <p class="c-user__demo" v-bind:style="[baseStyles]"></p>
    </div>
</div>
</template>

<script>
import color from './color.json'
export default {
    data() {
        return {
            Listcolor: color,
            detail: {},
            baseStyles: {
                background: '',
            }
        }
    },
    methods: {
        selectColor(color) {
            this.detail = color,
                this.baseStyles.background = color.hex
        }
    }
}
</script>

<style lang="scss" scoped>
.c-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__list {
       width: calc(100% - 300px) ;
display: flex; flex-wrap: wrap; justify-content: space-between;
        div {
            border: 1px solid #000;
            padding: 10px;
            width: 49%;
            margin-bottom: 10px;
            position: relative;
        }

        button {
            background: #ddd;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
            position: absolute;
            top:50%;
            right: 10px;
            transform: translateY(-50%);
            font-size: 12px;
        }
    }

    &__detail {
        width: 250px;
    }

    &__demo {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
}
</style>
