<template>
<div class="c-user">
    <div class="c-user__list">
        <div v-for="(color, index) in Listcolor" :key="index">
            <p>
                {{ color.Name }}
                <button @click="addMarker(color)">Detail</button>
            </p>
        </div>
    </div>
    <div class="c-user__detail">
        <gmap-map :center="center" :zoom="16" style="width:100%;  height:400px;">
            <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" @click="center=m.position"></gmap-marker>
        </gmap-map>
        <br>
        <p v-if="detail.name">Name : {{detail.Name}}</p>

    </div>
</div>
</template>

<script>
import color from './member.json'

export default {
    data() {
        return {
            Listcolor: color,
            detail: {},
            center: {
                lat: 45.508,
                lng: -73.587
            },
            markers: [],
            places: [],
            currentPlace: null
        }
    },
    mounted() {
        this.geolocate();
    },
    methods: {
        addMarker(color) {
            this.detail = color;
            const marker = {
                lat: color.Longitude,
                lng: color.Latitude
            };
            this.markers = [];
            this.markers.push({
                position: marker
            });
            this.places.push(this.currentPlace);
            this.center = marker;
            this.currentPlace = null;
        },
        geolocate: function () {
            navigator.geolocation.getCurrentPosition(position => {
                this.center = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.c-user {
    @include clear;

    &__list {
        width: 48%;
        float: left;

        div {
            border: 1px solid #000;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            position: relative;
        }

        button {
            background: #ddd;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            font-size: 12px;
        }
    }

    &__detail {
        width: 50%;
        float: right;
    }
}
</style>
