<template>
<div>
    <button v-on:click="tru">-</button>
    <p>{{ counter }}</p>
    <button v-on:click="counter += 1">+</button>

</div>
</template>

<script>
export default {
    data() {
        return {
            counter: 0
        }
    },methods: {
        tru(){
            if(this.counter!= 0){
                this.counter -=1;
            }
        }
    },
}
</script>

<style scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    width: 40px;
    text-align: center;
    display: inline-block;
}
p{
    display: inline-block;
    width:40px;
    text-align: center;
}
</style>
