<template>
<div>
    <div class="c-popup">
        <button v-on:click="open" :class="[ active === 1 ? 'active' : '' ]">OPEN</button>
        <div v-on:click="close" class="c-popup__ct"></div>
        <div class="c-popup__text">
            this is popup
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            active: 0
        }
    },
    methods: {
        open() {
            this.active = 1;
        },
        close() {
            this.active = 0;
        }
    },
}
</script>

<style lang="scss" scoped>
.c-popup {
    $root: &;

    button {
        background: #ddd;
        padding: 5px 10px;
        border: 1px solid #000;
        text-align: center;
        display: inline-block;

        &.active+#{$root}__ct {
            display: block;
        }

        &.active+#{$root}__ct+#{$root}__text {
            display: block;
            transform: scale(1);
        }
    }

    &__ct {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background: rgba(0, 0, 0, 0.7);
        display: none;
    }

    &__text {
        position: fixed;
        left: calc(50% - 250px);
        top: calc(50% - 60px);
        width: 500px;
        padding: 50px 0;
        background: #fff;
        z-index: 99;
        text-align: center;
        transform: scale(0);
        transition: .3s;
    }
}
</style>
