<template>
<div id="table">
    <input v-model="keyword" placeholder="Search title , category , key" type="text" />
    <transition-group class="c-filters__projects" name="c-filters">
        <div class="c-filters__box" v-bind:key="project.title" v-for="project in items">
            <img class="c-filters__img" v-bind:src="project.image">
            <div class="c-filters__text">Name : {{project.title}}<br>Category : {{project.category}}<br>Key : {{project.key}}</div>
        </div>
    </transition-group>
</div>
</template>

<script>
export default {
    data() {
        return {
            keyword: '',
            dataArray: [{
                    title: "Laptop 4",
                    image: "https://picsum.photos/id/1/400/400",
                    category: 'laptop',
                    key: "01"
                },
                {
                    title: "Deer",
                    image: "https://picsum.photos/id/1003/400/400",
                    category: 'animal',
                    key: "02"
                },
                {
                    title: "Car 1",
                    image: "https://picsum.photos/id/376/400/400",
                    category: 'car',
                    key: "03"
                },
                {
                    title: "Eagle",
                    image: "https://picsum.photos/id/1024/400/400",
                    category: 'animal',
                    key: "04"
                },
                {
                    title: "Car 2",
                    image: "https://picsum.photos/id/111/400/400",
                    category: 'car',
                    key: "05"
                },
                {
                    title: "Dog",
                    image: "https://picsum.photos/id/1062/400/400",
                    category: 'animal',
                    key: "06"
                },
                {
                    title: "Car 3",
                    image: "https://picsum.photos/id/183/400/400",
                    category: 'car',
                    key: "07"
                },
                {
                    title: "Laptop 1",
                    image: "https://picsum.photos/id/180/400/400",
                    category: 'laptop',
                    key: "08"
                },
                {
                    title: "Tiger",
                    image: "https://picsum.photos/id/1074/400/400",
                    category: 'animal',
                    key: "09"
                },
                {
                    title: "Seal",
                    image: "https://picsum.photos/id/1084/400/400",
                    category: 'animal',
                    key: "10"
                },
                {
                    title: "Laptop 2",
                    image: "https://picsum.photos/id/2/400/400",
                    category: 'laptop',
                    key: "11"
                },
                {
                    title: "Flower 2",
                    image: "https://picsum.photos/id/360/400/400",
                    category: 'flower',
                    key: "12"
                },
                {
                    title: "Car 4",
                    image: "https://picsum.photos/id/1072/400/400",
                    category: 'car',
                    key: "13"
                },
                {
                    title: "Laptop 5",
                    image: "https://picsum.photos/id/0/400/400",
                    category: 'laptop',
                    key: "14"
                },
                {
                    title: "Car 5",
                    image: "https://picsum.photos/id/133/400/400",
                    category: 'car',
                    key: "15"
                },
                {
                    title: "Laptop 3",
                    image: "https://picsum.photos/id/119/400/400",
                    category: 'laptop',
                    key: "16"
                },
                {
                    title: "Buffalo",
                    image: "https://picsum.photos/id/200/400/400",
                    category: 'animal',
                    key: "17"
                },
                {
                    title: "Flower 1",
                    image: "https://picsum.photos/id/306/400/400",
                    category: 'flower',
                    key: "18"
                },
                {
                    title: "Bear",
                    image: "https://picsum.photos/id/433/400/400",
                    category: 'animal',
                    key: "19"
                },
                {
                    title: "Fox",
                    image: "https://picsum.photos/id/582/400/400",
                    category: 'animal',
                    key: "20"
                }

            ]
        }
    },
    computed: {
        items() {
            let keyword = this.keyword.toLowerCase().trim()
            return this.keyword ?
                this.dataArray.filter(item => item.title.toLowerCase().includes(keyword) || item.category.toLowerCase().includes(keyword) || item.key.toLowerCase().includes(keyword)) :
                this.dataArray
        }
    }
}
</script>

<style lang="scss" scoped>
input {
    width: 500px;
    display: block;
    margin: 0 auto;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #000;
}

.c-filters {
    &__menu {
        text-align: center;

        span {
            background: #ddd;
            padding: 5px 10px;
            border: 1px solid #000;
            cursor: pointer;

            &:hover {
                background: #fff;
            }

            &.active {
                background: #fff;
            }
        }
    }

    &__projects {
        margin-bottom: 50px;
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-enter {
        transform: scale(0.5) translatey(-80px);
        opacity: 0;
    }

    &-leave-to {
        transform: translatey(30px);
        opacity: 0;
    }

    &-leave-active {
        position: absolute;
        z-index: -1;
    }

    &__text {
        padding: 10px 20px;
        position: relative;
        z-index: 1;
        background: #fff;
        text-align: left;
    }

    &__box {
        transition: all .3s ease-in-out;
        margin: 10px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        width: 230px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        &:hover {
            img {
                transform: scale(1.4) rotate(20deg);
            }
        }
    }

    &__img {
        width: 100%;
        height: 230px;
        transition: .5s;
    }
}
</style>
