<template>
<div>
    <hooper class="c-slider c-slider1">
        <slide>
            <img src="https://picsum.photos/id/1/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/376/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1024/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/111/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1074/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1084/1000/400">
        </slide>
    </hooper>
    <br>
    <hooper class="c-slider c-slider2" :itemsToShow="3" :centerMode="true" pagination="no">
        <slide>
            <img src="https://picsum.photos/id/1/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/376/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1024/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/111/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1074/1000/400">
        </slide>
        <slide>
            <img src="https://picsum.photos/id/1084/1000/400">
        </slide>
    </hooper>
</div>
</template>

<script>
import {
    Hooper,
    Slide
} from "hooper";
import 'hooper/dist/hooper.css';
export default {
    name: 'App',
    components: {
        Hooper,
        Slide
    }
}
</script>

<style lang="scss" scoped>
.c-slide{
  margin-bottom: 300px;
}
.c-slider1 {
    height: 400px;
    outline: none;

    li {
        border-radius: 10px;
        background: #41B883;
        outline: none;
        overflow: hidden;
    }

}
</style>
