<template>
<div>
    <input type="text" placeholder="Add New" v-model="newTodo" @keypress.enter="addTodo(newTodo)">
    <button @click="addTodo(newTodo)">Add</button>
    <button @click="cancelTodo()">Cancel</button>
    <p class="note" v-if="todos.length == 0">No Todos</p>
    <div v-else>
        <div class="list" v-for="(todo, index) in todos" :key="index">
            <p>{{ todo }}</p><button aria-hidden="true" @click="removeTodo(index)">Delete</button>
        </div>
        <button @click="clearAll()">Clear All</button>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            newTodo: '',
            todos: []
        }
    },
    methods: {
        addTodo(todo) {
           if(todo != ""){
                this.todos.push(todo)
            this.newTodo = ''
           }
        },
        cancelTodo() {
            this.newTodo = ''
        },
        removeTodo(index) {
            this.todos.splice(index, 1)
        },
        clearAll() {
            this.todos = []
        }
    }
}
</script>

<style lang="scss" scoped>
button {
    background: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    width: 100px;
}

input {
    width: 300px;
    border: 1px solid #000;
    height: 34px;
    text-indent: 10px;
}

.note {
    margin-top: 20px;
}

.list {
    margin: 20px 0;
    font-size: 16px;
    position: relative;

    width: 500px;

    button {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100px;
        font-size: 12px;
        text-align: center;
    }
}
</style>
