<template>
  <div id="l-container">
    <app-header />
    <nuxt/>
    <app-footer />
  </div>
</template>

<script>
import AppHeader from '~/components/layouts/AppHeader.vue'
import AppFooter from '~/components/layouts/AppFooter.vue'

export default {
  name: 'default',
  components: {
    AppHeader,
    AppFooter,
  },
}
</script>
