<template>
<main class="l-main">
    <div class="l-main__content">
        <p class="l-main__title">Return Data</p>
        <Data />
        <p class="l-main__title">Click Event</p>
        <Click />
        <p class="l-main__title">Scroll Event</p>
        <Scroll />
        <p class="l-main__title">Keydown Event</p>
        <Keydown />
        <p class="l-main__title">Methods</p>
        <Methods />
        <p class="l-main__title">Computed</p>
        <Computed />
        <p class="l-main__title">Watcher</p>
        <Watcher />
        <p class="l-main__title">V-if</p>
        <Vif />
        <p class="l-main__title">V-else, V-else-if</p>
        <Velse />
        <p class="l-main__title">V-show</p>
        <Vshow />
        <p class="l-main__title">V-for</p>
        <Vfor />
        <p class="l-main__title">Emit - (Data.json)</p>
        <List @userClick="getData" />
        <p class="l-main__title">Props</p>
        <Detail :info="Detail" />
        <p class="l-main__title">forceUpdate (re-render DOM)</p>
        <Forceupdate :info="Detail" />
        <p class="l-main__title">Class Binding</p>
        <Classbinding />
        <p class="l-main__title">Input Binding</p>
        <Inputbinding />
        <p class="l-main__title">Event handling </p>
        <Eventhandling />
    </div>
    <div class="big_title">EXAMPLE</div>
    <div class="l-main__content" style="padding-bottom:500px">
        <p class="l-main__title">Number</p>
        <Number />
        <p class="l-main__title">TAB</p>
        <Classbinding />
        <p class="l-main__title">Search</p>
        <Search />
        <p class="l-main__title">Accordion with data json</p>
        <Accordion />
        <p class="l-main__title">POPUP</p>
        <Popup />
        <p class="l-main__title">Todo List</p>
        <Todo />
        <p class="l-main__title">Filter</p>
        <Filters />
        <p class="l-main__title">List + Detail and change style css</p>
        <Listdemo />
        <p class="l-main__title">Google Map</p>
        <Googlemap />
        <p class="l-main__title">List City + Google Map Address (Data Json)</p>
        <Member />
        <p class="l-main__title">Search 2</p>
        <Search2 />
        <p class="l-main__title">Shopping Cart with @forceUpdate</p>
        <Cart />
         <p class="l-main__title">Slider</p>
        <Slider />
    </div>
</main>
</template>

<script>
import Data from "~/components/event/data.vue";
import Click from "~/components/event/click.vue";
import Methods from "~/components/event/methods.vue";
import Scroll from "~/components/event/scroll.vue";
import Keydown from "~/components/event/keydown.vue";
import Computed from "~/components/event/computed.vue";
import Watcher from "~/components/event/watcher.vue";
import Vif from "~/components/event/vif.vue";
import Velse from "~/components/event/velse.vue";
import Vshow from "~/components/event/vshow.vue";
import Vfor from "~/components/event/vfor.vue";
import List from "~/components/event/list.vue";
import Detail from "~/components/event/list_detail.vue";
import Forceupdate from "~/components/event/forceupdate.vue";
import Classbinding from "~/components/event/classbinding.vue";
import Inputbinding from "~/components/event/inputbinding.vue";
import Eventhandling from "~/components/event/eventhandling.vue";
import Number from "~/components/example/number.vue";
import Search from "~/components/example/search.vue";
import Accordion from "~/components/example/accordion.vue";
import Popup from "~/components/example/popup.vue";
import Todo from "~/components/example/todo.vue";
import Filters from "~/components/example/filters.vue";
import Listdemo from "~/components/example/list.vue";
import Googlemap from "~/components/example/googlemap.vue";
import Member from "~/components/example/member.vue";
import Search2 from "~/components/example/search2.vue";
import Cart from "~/components/example/cart.vue";
import Slider from "~/components/example/slider.vue";

export default {
    components: {
        Data,
        Click,
        Methods,
        Scroll,
        Keydown,
        Computed,
        Watcher,
        Vif,
        Velse,
        Vshow,
        Vfor,
        List,
        Detail,
        Forceupdate,
        Classbinding,
        Inputbinding,
        Eventhandling,
        Number,
        Search,
        Accordion,
        Popup,
        Todo,
        Filters,
        Listdemo,
        Googlemap,
        Member,
        Search2,
        Cart,
        Slider
    },
    data() {
        return {
            Detail: {}
        }
    },
    methods: {
        getData(user) {
            this.Detail = user
        }
    }
};
</script>

<style lang="scss" scoped>
.l-main {
    &__content {
        width: 1000px;
        margin: 0 auto;
        min-height: calc(100vh - 82px);
    }

    &__title {
        padding: 10px;
        background: #ddd;
        margin: 50px 0 20px;
    }

    .big_title {
        padding: 10px;
        background: #000;
        color: #fff;
        margin: 50px 0 20px;
        text-align: center;
    }
}
</style>
