/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container {
    $root: &;
}

/* .l-main
------------------------------------------------------------*/
.l-main {
    $root: &;
    &__inner {
        margin: 40px 0;
    }
}

/* .c-ttl1
------------------------------------------------------------*/
.c-ttl1 {
	margin-bottom: 30px;
	font-size: 3.5rem;
	text-align: center;
	font-weight: bold;
}
/* c-ttl2
------------------------------------------------------------*/
.c-ttl2 {
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size: 2.8rem;
	border-bottom: 1px solid $black1;
	&--type1 {
		color: $blue1;
		border-bottom-color: $blue1;
	}
}
/* c-ttl3
------------------------------------------------------------*/
.c-ttl3 {
	margin-bottom: 10px;
	font-size: 2.2rem;
	font-weight: 900;
}

/* .c-txt
------------------------------------------------------------*/
.c-txt1 {
	font-size: 2rem;
	line-height: 2;
	&--center {
		text-align: center;
	}
}