<template>
  <footer class="l-footer">
    <!-- <div class="l-footer__inner">
      <ul class="l-footer__list">
        <li><nuxt-link to="#">sub menu1</nuxt-link></li>
        <li><nuxt-link to="#">sub menu2</nuxt-link></li>
        <li><nuxt-link to="#">sub menu3</nuxt-link></li>
        <li><nuxt-link to="#">sub menu4</nuxt-link></li>
      </ul>
    </div> -->
    <small class="l-footer__cp">copyright</small>
  </footer>
</template>

<style lang="scss" scoped>
/* .l-footer
------------------------------------------------------------*/
.l-footer {
	border-top: 1px solid $black1;
	background: $glay1;
    &__inner {
        width: $min_width1;
        padding: 40px 0;
        margin: 0 auto;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
            width: 25%;
            text-align: center;
        }
    }
    &__cp {
        width: 100%;
        padding: 5px 0;
        border-top: 1px solid $black1;
        display: block;
        text-align: center;
    }
}
</style>