<template>
  <div class="l-head">
    <header class="l-header">
      <div class="l-header__inner">
        <h1 class="l-header__ttl">
            <nuxt-link to="/"><img src="~assets/img/common/logo/logo.png" width="250" height="50" alt="サイトタイトル"></nuxt-link>
        </h1>
        <!-- <ul class="l-header__list">
          <li><nuxt-link to="/demo/">デモページ</nuxt-link></li>
        </ul> -->
      </div>
    </header>

    <!-- <nav class="l-gnavi">
      <ul class="l-gnavi__list">
        <li><nuxt-link to="#">menu1</nuxt-link></li>
        <li><nuxt-link to="#">menu2</nuxt-link></li>
        <li><nuxt-link to="#">menu3</nuxt-link></li>
        <li><nuxt-link to="#">menu4</nuxt-link></li>
      </ul>
    </nav> -->
  </div>
</template>

<style lang="scss" scoped>
/* .l-header
------------------------------------------------------------*/
.l-header {
    border-bottom: 1px solid $black1;
    &__inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__list {
        margin-left: auto;
        display: flex;
        li {
            display: inline-block;
            border-right: 1px solid $black1;
            &:first-child {
                border-left: 1px solid $black1;
            }
            &:last-child {
                border-right: 0;
            }
            a {
                height: 70px;
                padding: 20px 60px;
                display: flex;
                align-items: center;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}
/* l-gnavi
------------------------------------------------------------*/
.l-gnavi {
	border-bottom: 1px solid $black1;
    &__list {
        margin: 0 auto;
        text-align: center;
        display: flex;
        li {
            width: 25%;
            border-right: 1px solid $black1;
            list-style: none;
            &:last-child {
                border-right: 0;
            }
            a {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background: $glay1;
                position: relative;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
		&__menu {
			display: none;
		}
	}
}
</style>