<template>
	<ul class="c-list1">
		<slot></slot>
	</ul>
</template>

<style scoped lang="scss">
/* .c-list1
------------------------------------------------------------*/
.c-list1 {
	list-style: none;
	li {
		margin-bottom: 10px;
		padding-left: 15px;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 5px;
			height: 5px;
			background: $black1;
			top: 8px;
			left: 4px;
			border-radius: 50%;
		}
	}
}
</style>