<template>
    <div class="l-mv">
		<div class="l-mv__inner">
			<h1 class="l-mv__ttl">ページタイトルが入ります</h1>
			<p class="l-mv__lead">リード文が入ります。</p>
		</div>
	</div>
</template>

<style scoped lang="scss">
/* .l-mv
------------------------------------------------------------*/
.l-mv {
	height: 300px;
	background: $glay1;
	border-bottom: 1px solid $black1;
    &__inner {
        width: $min_width1;
        margin: 0 auto;
    }
    &__ttl {
        padding-top: 70px;
        font-size: 4rem;
    }
    &__lead {
        font-size: 2rem;
        font-weight: 500;
    }
}
</style>