<template>
	<section class="c-sec c-sec--nest2">
		<div class="c-sec__inner">
			<slot></slot>
		</div>
	</section>
</template>

<style scoped lang="scss">
.c-sec {
	&__inner {
		width: $min_width1;
		margin: 0 auto;
	}
	&--nest2 {
		.c-sec__inner {
			margin: 50px auto;
		}
	}
}
</style>