<template>
  <div class="c-tbl1">
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
.c-tbl1 {
	dl {
		width: 100%;
		display: table;
		border: 1px solid $black1;
		border-bottom: 0;
		&:last-child {
			border-bottom: 1px solid $black1;
		}
		dt, dd {
			padding: 20px;
			display: table-cell;
			vertical-align: middle;
		}
		dt {
			width: 240px;
			border-right: 1px solid $black1;
			background: $glay1;
		}
	}
}
</style>